<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.board.mapper.BoardMapper">
	
	<select id="getBoardList" resultType="BoardVO">
		select * from (select ROWNUM as rn, a.* from (
		select BOARD_NO
				,TITLE
				,CONTENT
				,WRITER
				,WRITE_DATE
				,CLICK_CNT
				,IMAGE
		from board
		<where>
		<if test="vo.title != null and vo.title != ''">
		TITLE like '%' || #{vo.title} || '%'
		</if>
		<if test="vo.content != null and vo.content != ''">
		AND CONTENT like '%' || #{vo.content} || '%'
		</if>
		<if test="vo.writer != null and vo.writer != ''">
		AND WRITER like '%' || #{vo.writer} || '%'
		</if>
		</where>
		ORDER by BOARD_NO
	<![CDATA[
	) a where ROWNUM <= #{svo.end}) b where rn >= #{svo.start}
	]]>
	</select>
	
	<select id="getBoardInfo" resultType="BoardVO">
		SELECT *
		FROM board
		WHERE board_no = #{boardNo}
	</select>
	
	<insert id="insertBoard" parameterType="BoardVO">
		<selectKey keyProperty="boardNo" order="BEFORE" resultType="int">
			select board_seq.nextval from dual
		</selectKey>
	
		INSERT into board(
								BOARD_NO
								,TITLE
								,CONTENT
								,WRITER
								,WRITE_DATE
								,CLICK_CNT
								<if test="image != null and image != ''">
								,IMAGE
								</if>
		) values (
								#{boardNo}
								,#{title}
								,#{content}
								,#{writer}
								,#{writeDate}
								,#{clickCnt}
								<if test="image != null and image != ''">
								,#{image}
								</if>
		) 
	</insert>
	
	<delete id="deleteBoard">
		delete from board where BOARD_NO = #{boardNo}
	</delete>
	
	<update id="updateBoard" parameterType="boardVO">
		UPDATE board
		<set>
			<if test="title != null">
			TITLE = #{title},
			</if>
			<if test="content != null">
			CONTENT = #{content},
			</if>
			<if test="writer != null">
			WRITER = #{writer},
			</if>
			<if test="writeDate != null">
			WRITE_DATE = #{writeDate},
			</if>
			<if test="clickCnt != null">
			CLICK_CNT = #{clickCnt},
			</if>
			<if test="image != null">
			IMAGE = #{image},
			</if>
		</set>
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<select id="getCount" resultType="Long">
		select count(*)
		from board
	</select>
	
</mapper>