<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      <!-- ~{layout/layout} : 폴더명/파일명 -->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.firstRow{ color:yellowgreen;}
	.oddRow{color:cyan;}
	.backColor{background-color:#333333;}
</style>
<script th:inline="javascript">
		let emplist = [[${empList}]]
		console.log(emplist[0].firstName)
		
		function gopage(p){
			frmSearch.page.value = p;
			frmSearch.submit();
			//location.href = 'empList?page=' + p
		}
	</script>
</head>
<body>
<div  layout:fragment="content">
	사원수<span th:text="${#lists.size(empList)}">15</span>명
	회사명<span th:utext="${companyName}">...</span>
	
	<!-- 검색 폼 시작 -->
	<form name="frmSearch">
		<input type="hidden" name="page">
		<select name="departmentId">
			<option value=""> 선택
			<option value="10">Administration
			<option value="20">Marketing
			<option value="50">Shipping
			<option value="60">IT
			<option value="80">Sales
			<option value="90">Executive
			<option value="110">Accounting
		</select>
		firstName<input name="firstName" th:value="${empVO.firstName}"><!-- 값이 유지됨 -->
		managerId<input name="managerId" th:value="${empVO.managerId}">
		<button type="button" onclick="gopage(1)">검색</button>
	</form>
	<!-- 검색 폼 끝 -->
	
	<table>
		<tr>
			<th>No</th>
			<th>employee_id</th>
			<th>NAME</th>
			<th>last_name</th>
			<th>hire_date</th>
			<th>salary</th>
			<th>보너스</th>
			<th>수정/삭제</th>
		</tr>
		<tr th:each="emp,stat : ${empList}" > <!-- 두번째 변수는 상태변수 또는 empStat.count로 변경가능-->
			<td th:text="${stat.count}" class="backColor" th:classappend="${stat.first ? 'firstRow' : stat.odd ? 'oddRow' : _}">1</td>
			<td th:text="${emp.employeeId}">100</td>
			<!-- |값| 이 백틱의 기능을 함 / 타임리프 주석(/**/)을 사용하지 않으면 애러남 / 타임리프 프로토타입주석(/*/값/*/) -->
			<!--/*/ <td th:text="|${emp.firstName} ${emp.lastName}|">길동</td> 
			<td>[[${emp.firstName}]] [[${emp.lastName}]]</td> /*/-->
			<td th:text="${#dates.format(emp.hireDate,'yyyy년 MM월 dd일')}">2010-10-10</td>
			<td th:text="${#numbers.formatInteger(emp.salary,3,'COMMA')}">2,000</td>
			<td><button th:if="${emp.salary} < 10000">신청</button>
			<button th:unless="${emp.salary} < 10000">미신청</button></td>
			<td> <!-- localhost:8081/update/100 -->
				<a th:href="@{/update/{id}(id=${emp.employeeId})}">수정</a>
				 <!-- localhost:8081/delete?employeeId=100&name=xxx -->
				<a th:href="@{/delete(employeeId=${emp.employeeId},name=${emp.firstName})}">삭제</a>
			</td>
		</tr>
	</table>
	
	<!-- 페이징 시작 --><!-- disabled : 비활성화 -->
	<nav aria-label="...">
	  <ul class="pagination">
	    <li class="page-item" th:if="${paging.startPage} > 1">
	        <a class="page-link" th:href="|javascript:gopage(${paging.startPage-1})|">Previous</a></li>

	    <li th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}" 
	        class="page-item" 
	        th:addclass="${num} == ${paging.page} ? active">
	        <a class="page-link" th:href="|javascript:gopage(${num})|"  th:text="${num}">2</a></li>
	    
	    <li class="page-item" th:classappend="${paging.endPage} <= ${paging.lastPage} ? disabled">
	        <a class="page-link" th:href="|javascript:gopage(${paging.endPage+1})|">Next</a></li>
	  </ul>
	</nav>
	<!-- 페이징 종료 -->
	
	
	<div class="footerSector" th:insert="~{footer :: addr}">여기에 삽입</div><!-- 폴더명이 필요한 경우 : ~{???/footer} / ~ : 해당필드를 가져옴 -->
	<div class="footerSector" th:replace="~{footer :: copy}">여기가 바뀜</div><!-- replace 태그가 바뀜 -->
	
</div>

	
</body>
</html>